name: iOS CI

on:
  pull_request:
    branches: [ main, development ]
  push:
    branches: [ main, development ]
  workflow_dispatch:

jobs:
  detect-changes:
    runs-on: ubuntu-latest
    outputs:
      cicdtesting: ${{ steps.filter.outputs.cicdtesting }}
      cicdtestingdev: ${{ steps.filter.outputs.cicdtestingdev }}
    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            cicdtesting:
              - 'CiCdTesting/**'
            cicdtestingdev:
              - 'CiCdTestingDev/**'


  tests:
    needs: detect-changes
    runs-on: macos-latest

    strategy:
      matrix:
        project:
          - name: CiCdTesting
            folder: CiCdTesting
            project_file: CiCdTesting.xcodeproj
            scheme: CiCdTesting
            changed: ${{ needs.detect-changes.outputs.cicdtesting }}
          - name: CiCdTestingDev
            folder: CiCdTestingDev
            project_file: CiCdTestingDev.xcodeproj
            scheme: CiCdTestingDev
            changed: ${{ needs.detect-changes.outputs.cicdtestingdev }}

        # Skip projects that didn't change
        exclude:
          - project: { changed: 'false' }

    outputs:
      tested-projects: ${{ steps.save-tested.outputs.tested-projects }}

    steps:
      - uses: actions/checkout@v4

      - name: Select Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: '16.4.0'

      - name: Run Unit Tests
        run: |
          xcodebuild test \
            -project ${{ matrix.project.project_file }} \
            -scheme ${{ matrix.project.scheme }} \
            -destination 'platform=iOS Simulator,name=iPhone 15,OS=17.0' \
            -only-testing:${{ matrix.project.scheme }}Tests \
            clean test | xcpretty

      - name: Run UI Tests
        run: |
          xcodebuild test \
            -project ${{ matrix.project.project_file }} \
            -scheme ${{ matrix.project.scheme }} \
            -destination 'platform=iOS Simulator,name=iPhone 15,OS=17.0' \
            -only-testing:${{ matrix.project.scheme }}UITests \
            clean test | xcpretty

      - name: Save tested projects
        id: save-tested
        run: |
          # Create empty array
          echo "[]" > tested.json

          # Append each changed project
          if [ "${{ needs.detect-changes.outputs.cicdtesting }}" = "true" ]; then
            echo '[{"name":"CiCdTesting","folder":"CiCdTesting","project_file":"CiCdTesting.xcodeproj","scheme":"CiCdTesting"}]' > tested.json
          fi

          if [ "${{ needs.detect-changes.outputs.cicdtestingdev }}" = "true" ]; then
            echo '[{"name":"CiCdTestingDev","folder":"CiCdTestingDev","project_file":"CiCdTestingDev.xcodeproj","scheme":"CiCdTestingDev"}]' >> tested.json
          fi

          # Ensure valid JSON array always
          cat tested.json

          echo "tested-projects=$(cat tested.json)" >> $GITHUB_OUTPUT

  deploy:
    needs: tests
    if: ${{ needs.tests.outputs.tested-projects != '[]' }}
    strategy:
      matrix:
        project: ${{ fromJson(needs.tests.outputs.tested-projects) }}

    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      - name: Deploy project
        run: echo "Deploying ${{ matrix.project }}"
      
      - name: Select Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: '15.3'

      - name: Show build SDK
        run: xcodebuild -showsdks 

      - name: Install the Apple certificate and provisioning profile
        env:
          BUILD_CERTIFICATE_BASE64: ${{ secrets.BUILD_CERTIFICATE_BASE64 }}
          P12_PASSWORD: ${{ secrets.P12_PASSWORD }}
          BUILD_PROVISION_PROFILE_BASE64: ${{ secrets[matrix.project.provisioning_profile_secret] }}
          KEYCHAIN_PASSWORD: ${{ secrets.KEYCHAIN_PASSWORD }}
        run: |
          CERTIFICATE_PATH=$RUNNER_TEMP/build_certificate.p12
          PP_PATH=$RUNNER_TEMP/build_pp_${{ matrix.project.name }}.mobileprovision
          KEYCHAIN_PATH=$RUNNER_TEMP/app-signing.keychain-db
          
          echo -n "$BUILD_CERTIFICATE_BASE64" | base64 --decode -o $CERTIFICATE_PATH
          echo -n "$BUILD_PROVISION_PROFILE_BASE64" | base64 --decode -o $PP_PATH
          
          security create-keychain -p "$KEYCHAIN_PASSWORD" $KEYCHAIN_PATH
          security set-keychain-settings -lut 21600 $KEYCHAIN_PATH
          security unlock-keychain -p "$KEYCHAIN_PASSWORD" $KEYCHAIN_PATH
          
          security import $CERTIFICATE_PATH -P "$P12_PASSWORD" -A -t cert -f pkcs12 -k $KEYCHAIN_PATH
          security set-key-partition-list -S apple-tool:,apple: -k "$KEYCHAIN_PASSWORD" $KEYCHAIN_PATH
          security list-keychain -d user -s $KEYCHAIN_PATH
          
          mkdir -p ~/Library/MobileDevice/Provisioning\ Profiles
          cp $PP_PATH ~/Library/MobileDevice/Provisioning\ Profiles

      - name: Resolve SPM dependencies
        run: |
          cd ${{ matrix.project.name }}
          swift package resolve

      - name: Allow provisioning updates
        run: xcodebuild -allowProvisioningUpdates

      - name: Run Unit Tests
        run: |
          xcodebuild test \
            -project ${{ matrix.project.project_file }} \
            -scheme ${{ matrix.project.scheme }} \
            -destination 'platform=iOS Simulator,name=iPhone 15,OS=17.0' \
            -only-testing:${{ matrix.project.scheme }}Tests \
            clean test | xcpretty

      - name: Run UI Tests
        run: |
          xcodebuild test \
            -project ${{ matrix.project.project_file }} \
            -scheme ${{ matrix.project.scheme }} \
            -destination 'platform=iOS Simulator,name=iPhone 15,OS=17.0' \
            -only-testing:${{ matrix.project.scheme }}UITests \
            clean test | xcpretty

      - name: Build iOS application archive
        if: github.event_name == 'push' || github.event_name == 'workflow_dispatch'
        run: |
          cat $PWD/${{ matrix.project.name }}/exportOptions.plist
          xcodebuild clean -project ${{ matrix.project.project_file }} -scheme ${{ matrix.project.scheme }} -configuration Prod
          xcodebuild archive \
            -project ${{ matrix.project.project_file }} \
            -scheme ${{ matrix.project.scheme }} \
            -configuration Prod \
            -archivePath $PWD/build/${{ matrix.project.name }}.xcarchive
          xcodebuild -exportArchive \
            -archivePath $PWD/build/${{ matrix.project.name }}.xcarchive \
            -exportOptionsPlist $PWD/${{ matrix.project.name }}/exportOptions.plist \
            -exportPath $PWD/build

      - name: Decode App Store Connect private key file
        if: github.event_name == 'push' || github.event_name == 'workflow_dispatch'
        env:
          API_KEY_BASE64: ${{ secrets.API_KEY_BASE64 }}
          API_KEY: ${{ secrets.KEY_ID }}     
        run: |
          mkdir -p ~/private_keys
          echo -n "$API_KEY_BASE64" | base64 --decode -o ~/private_keys/AuthKey_$API_KEY.p8

      - name: Upload to App Store Connect
        if: github.event_name == 'push' || github.event_name == 'workflow_dispatch'
        env:
          ISSUER_ID: ${{ secrets.ISSUER_ID }}          
          API_KEY: ${{ secrets.KEY_ID }}     
        run: |
          xcrun altool --upload-app -f build/${{ matrix.project.name }}.ipa -t ios --apiKey $API_KEY --apiIssuer "$ISSUER_ID"

      - name: Clean up keychain and provisioning profile
        if: ${{ always() }}
        run: |
          security delete-keychain $RUNNER_TEMP/app-signing.keychain-db
          rm -f ~/Library/MobileDevice/Provisioning\ Profiles/*.mobileprovision
